PORT=5000
MONGODB_URI=mongodb+srv://vekariyameet674_db_user:meet123@cluster28.bj0ygan.mongodb.net/expense_tracker?retryWrites=true&w=majority&appName=Cluster28
JWT_SECRET=super_secret_jwt_key_bhavik_expense_2026
NODE_ENV=development
CLIENT_URL=http://localhost:5173



# Optional Cloud Storage for Receipt Uploads
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
